@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var path = HttpContextAccessor.HttpContext.Request.Path.Value?.ToLower();
    var hideNavbar = path != null && (path.Contains("/user/login") || path.Contains("/user/signup") || path.Contains("/user/forgotpassword"));
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieAdvisor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieAdvisor.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    @if (hideNavbar)
    {
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            .auth-container {
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
            }
        </style>
    }
</head>
<body>

        <main role="main" class="auth-container">
            @RenderBody()
        </main>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>